<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DSAplcEntities" connectionString="metadata=res://*/DSAplcEntityModel.csdl|res://*/DSAplcEntityModel.ssdl|res://*/DSAplcEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=rachelbaldacchi\;Initial Catalog=DSAplcDatabase;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>